USE [master]
GO
/****** Object:  Database [PersonasDb]    Script Date: 15/2/2020 11:18:26 p. m. ******/
CREATE DATABASE [PersonasDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonasDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.JORDYANDERSON\MSSQL\DATA\PersonasDb.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PersonasDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.JORDYANDERSON\MSSQL\DATA\PersonasDb_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonasDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonasDb]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 15/2/2020 11:18:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Persona](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NULL,
	[Fecha] [date] NULL,
	[Comentario] [varchar](13) NULL,
	[Monto] [decimal](18, 0) NULL,
	[Pago] [decimal](18, 0) NULL,
	[Balance] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Persona] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
USE [master]
GO
